
  <nav class="nav">
    
    <ul id="primary-nav" class="primary-nav is-fixed">
      <li class="has-children">
        <a href="#">Clothing</a>
        
        <!-- secondary nav = mobile -->
        <ul class="secondary-nav is-hidden">
          <li class="go-back"><a href="#example">Example</a></li>
          <li class="see-all"><a href="#0">All Clothing</a></li>
          <li class="has-children">
            <a href="0">Accessories</a>

            <ul class="is-hidden">
              <li class="go-back"><a href="#0">Clothing</a></li>
              <li class="see-all"><a href="#0">All Accessories</a></li>
              <li class="has-children">
                <a href="#">Beanies</a>

                <ul class="is-hidden">
                  <li class="go-back"><a href="#0">Accessories</a></li>
                  <li class="see-all"><a href="#0">All Benies</a></li>
                  <li><a href="#0">Caps</a></li>
                  <li><a href="#0">Gifts</a></li>
                  <li><a href="#0">Scarves</a></li>
                </ul>
              </li> <!-- end Beanies -->
            </ul>
          </li> <!-- end accessories -->
        </ul>
      </li><!-- end clothing -->
    </ul>

  </nav>




